/* Font Helvetica  */

@font-face{
  font-family: "Helvetica Neue Light";
  src: url("../font/HelveticaNeue-LightExt.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Helvetica Neue";
  src: url("../font/HelveticaNeueMedium.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: "Helvetica Neue Bold";
  src: url("../font/HelveticaNeue-Black.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Helvetica Neue Italic";
  src: url("../font/HelveticaNeue-ThinItalic.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;

}

/* Accueil */

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("../img/duotone1.png");
  background-size: cover;
  background-position: center; 
  margin-bottom: 50px;
}

/* Titre Accueil */

.home h1{
  font-size: 55px;
  font-family: "Helvetica Neue Light";
  font-weight: lighter;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  line-height: 50px;
  margin-top: 100px;
}

.home h1 span{
  font-family: "Helvetica Neue Bold";
  font-size: 40px;
}

.arrow{
  background: url("../img/scrolldown.gif");
  background-size: cover;
  background-position: center;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

nav{
  display: none;
}

/* Bloc Produit */

.bloc-produit, .bloc-produit div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Taille de chaque bloc produit */

.bloc-produit > div{
  height: 110vh;
}

.bloc-produit h2{
  font-size: 25px;
  font-weight: bold;

}

.bloc-produit div h3{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.bloc-produit a, .articles a{
  text-decoration:none;
  color: black;
}

/* Image Produit */

.img-produit{
  width: auto;
  height: 100%;
}

.img-container{
  width: 100vw;
  height: 80vh;
  overflow-x: hidden;
}

/* picto cloud */

.cloud{
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.grp-picto{
  display: flex;
}

/* Text Produit */

.bloc-produit div p{
  padding: 20px;
  text-align: justify;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-size: 18px;
}

/* section histoire */

.histoire{
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

/* Image de fond */

.histoire{
  background: url("../img/bg.jpg");
  background-size: cover;
  
}

/* transparence de fond */

.opacity{
  padding: 30px;
}

/* titre histoire */

.histoire h2{
  font-size: 30px;
  font-family: "Helvetica Neue Bold";
  margin-bottom: 50px;
  text-transform: uppercase;
  color: black;
}

/* text histoire */

.histoire p{
  font-family: "Helvetica Neue";
  text-align: center;

}

.histoire p::first-letter{
  font-size: 20px;
  font-weight: 600;
}

/* Articles */

.articles{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

/* Title section article */

.articles h2{
  font-family: "Helvetica Neue Bold";
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.articles h2 span{
  font-family: "Helvetica Neue Italic";
  font-size: 25px;  
}

/* Les 2 articles */

.articles article{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
}

.articles h3{
  font-size: 15px;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 30px grey;
  height: 12vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: -1;
}

.articles h3 span{
  padding-top: 10px;
  color: #656363;
}

.article p{
  text-align: justify;
}

/* Article 1 */

.article1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.img-article1{
  background: url("../img/rain.jpg");
  background-size: cover;
  width: 100vw;
  height: 35vh;
}

/* Article 2 */

.article2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-article2{
  background: url("../img/desert.png");
  background-size: cover;
  width: 100vw;
  height: 35vh;
}

/* Product Page 1 */

.product-section{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* title section */

.product-section h1{
  text-align: center;
  font-size: 30px;
  font-family: "Helvetica Neue Bold";
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* image */

.img-nimbostratus{
  width: 100vw;
  height: 300px;
  background: url("../img/Nimbostratus-flacon.png");
  background-size: cover;
  background-position: center;
}

.img-altostratus{
  width: 100vw;
  height: 300px;
  background: url("../img/Altostratus-flacon.png");
  background-size: cover;
  background-position: center;
}

.img-cumulonimbus{
  width: 100vw;
  height: 300px;
  background: url("../img/Cumulonimbus-flacon.png");
  background-size: cover;
  background-position: center;
}

/* info picto */

.product-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.product-info h2{
  font-family: "Helvetica Neue Lighter", sans-serif;
  display:flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 30px;
  text-transform: uppercase;
}

.product-info span{
  font-family: "Helvetica Neue Bold", sans-serif;
}

.product-section p{
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

/* Arrow */

.product-arrow{
  background: url("../img/next.png");
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  margin-top: 10px;
}

/* info section */

.info-section{
  position: relative;
  padding: 20px;
  overflow: hidden;
}

/* text info */

.info-section p{
  padding-bottom: 10px;
}

/* cloud deco */

.cloud-deco{
  background: url("../img/nuage.png");
  background-size: cover;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.cloud-position1{
  position: absolute;
  top: -50px;
  left: -120px;
}

.cloud-position2{
  position: absolute;
  bottom:-80px;
  left: -120px;
}

.cloud-position3{
  position: absolute;
  bottom:0px;
  right: -120px;
}

/* Page Articles */

.article-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

}

.article-section h1{
  font-family: "Helvetica Neue Bold";
  font-size: 30px;
  padding: 10px;
  align-self: flex-start;
}

.article-section h1 span{
  font-family: "Helvetica Neue Italic";
  font-size: 25px;  
}

.img-page-article1{
  background: url("../img/rain.jpg");
  background-size: cover;
  width: 100vw;
  height: 300px;
}

.img-page-article2{
  background: url("../img/desert.png");
  background-size: cover;
  width: 100vw;
  height: 300px;
}

.article-section h2{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.article-section h2 span{
  color: #656363;
  font-size: 15px;
  padding-top: 5px;
}

.article-section p{
  font-size: 14px;
  width: 280px;
  font-weight: bold;
  line-height: 17px;
}

.info-article1{
  background: url("../img/goutte-pluie.png");
  background-size: cover;
}

.info-article2{
  position: relative;
}

.info-article1 p, .info-article2 p{
  padding: 10px;
}

.sable{
  background: url("../img/sable.png");
  background-size: cover;
  width: 100vw;
  height: 30vh; 
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}


