/* Font Helvetica  */

@font-face{
  font-family: "Helvetica Neue Light";
  src: url("/font/HelveticaNeue-LightExt.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Helvetica Neue";
  src: url("/font/HelveticaNeueMedium.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: "Helvetica Neue Bold";
  src: url("/font/HelveticaNeue-Black.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Helvetica Neue Italic";
  src: url("/font/HelveticaNeue-ThinItalic.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;

}

/* Accueil */

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("/img/duotone1.png");
  background-size: cover;
  background-position: center; 
  margin-bottom: 50px;
}

/* Titre Accueil */

.home h1{
  font-size: 55px;
  font-family: "Helvetica Neue Light";
  font-weight: lighter;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  line-height: 50px;
  margin-top: 100px;
}

.home h1 span{
  font-family: "Helvetica Neue Bold";
  font-size: 40px;
}

.arrow{
  background: url("/img/next.png");
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  margin-bottom: 30px;
}

nav{
  display: none;
}

/* Bloc Produit */

.bloc-produit, .bloc-produit div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Taille de chaque bloc produit */

.bloc-produit > div{
  height: 100vh;
}

.bloc-produit h2{
  font-size: 25px;
  font-weight: bold;
}

.bloc-produit div h3{
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}

/* Image Produit */

.img-produit{
  width: auto;
  height: 100%;
}

.img-container{
  width: 100vw;
  height: 80vh;
  overflow-x: hidden;
}

/* picto cloud */

.cloud{
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.grp-picto{
  display: flex;
}

/* Text Produit */

.bloc-produit div p{
  padding: 20px;
  text-align: justify;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-size: 18px;
}

/* section histoire */

.histoire{
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

/* Image de fond */

.histoire{
  background: url("/img/bg.jpg");
  background-size: cover;
  
}

/* transparence de fond */

.opacity{
  padding: 30px;
}

/* titre histoire */

.histoire h2{
  font-size: 30px;
  font-family: "Helvetica Neue Bold";
  margin-bottom: 50px;
  text-transform: uppercase;
  color: black;
}

/* text histoire */

.histoire p{
  font-family: "Helvetica Neue";
  text-align: center;

}

.histoire p::first-letter{
  font-size: 20px;
  font-weight: 600;
}

/* Articles */

.articles{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  transform: translateY(-150px);
}

/* Title section article */

.articles h2{
  font-family: "Helvetica Neue Bold";
  font-size: 30px;
  margin-bottom: 20px;
}

.articles h2 span{
  font-family: "Helvetica Neue Italic";
  font-size: 25px;  
}

/* Les 2 articles */

.articles article{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
}

.articles h3{
  text-align: center;
  font-weight: bold;
}

.article p{
  text-align: justify;
}

/* Article 1 */

.article1{
  margin-bottom: 50px;
}

.img-article1{
  background: url("/img/article1.png");
  background-size: cover;
  width: 303px;
  height: 228px;
}

/* Article 2 */

.article2{
  height: auto;
}

.img-article2{
  background: url("/img/article1.png");
  background-size: cover;
  width: 303px;
  height: 228px;
}

/* Product Page 1 */

.product-section{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-section h1{
  text-align: center;
  font-size: 30px;
  font-family: "Helvetica Neue Bold";
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-nimbostratus{
  width: 100vw;
  height: 300px;
  background: url("/img/Nimbostratus-flacon.png");
  background-size: cover;
  background-position: center;
}

.product-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.product-info h2{
  font-family: "Helvetica Neue Lighter", sans-serif;
  display:flex;
  flex-direction: column;
  padding: 10px;
  text-transform: uppercase;
}

.product-info span{
  font-family: "Helvetica Neue Bold", sans-serif;
}

.product-section p{
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

.product-arrow{
  background: url("/img/next.png");
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  margin-top: 10px;
}

.info-section{
  position: relative;
}

.info-section p{
  padding: 20px;
  text-align: justify;
}

.cloud-deco{
  background: url("/img/nuage.png");
  background-size: cover;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.cloud-position1{
  position: absolute;
  top: -50px;
  left: -120px;
}

.cloud-position2{
  position: absolute;
  bottom:-80px;
  left: -120px;
}

.cloud-position3{
  position: absolute;
  bottom:0px;
  right: -120px;
}