*{
  box-sizing: border-box;
}

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

/* Accueil */

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("/img/duotone1.png");
  background-size: cover;
  background-position: center; 
  margin-bottom: 50px;
}

/* Titre Accueil */

.home h1{
  font-size: 55px;
  font-weight: lighter;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  line-height: 50px;
  margin-top: 100px;
}

.home h1 span{
  font-weight: bold;
  font-size: 40px;
}

.fleche{
  background: url("/img/next.png");
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
}

nav{
  display: none;
}

/* Bloc Produit */

.bloc-produit, .bloc-produit div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Taille de chaque bloc produit */

.bloc-produit > div{
  height: 100vh;
}

.bloc-produit h2{
  font-size: 25px;
  font-weight: bold;
}

.bloc-produit div h3{
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}

.img-produit{
  width: auto;
  height: 100%;
}

.img-container{
  width: 100vw;
  height: 80vh;
  overflow-x: hidden;
}

.bloc-produit div p{
  padding: 20px;
  text-align: justify;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-size: 18px;
}

/* section histoire */

.histoire, .opacity{
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.histoire{
  background: url("/img/bgstory.jpeg");
  background-size: cover;
}

.opacity{
  background-color: rgba(255,255,255,0.6);
}

.border{
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
  padding: 30px;

}

.histoire h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 30px black;
}

.histoire p{
  text-align: center;
}

.articles{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

